<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<meta charset="utf-8">
		<title>GMAIL</title>
	</head>
	<body>
		<div class="maincontainer container-fluid">
			<div class="navrow row">
				<nav class="usernavbar navbar-default navbar-fixed-top">
				<div class="logo col-sm-3">
					<img src="googlelogo.png" class="googleicon">
				</div>
				<div class="searchbar col-sm-6">
					<input type="search" name="searchtop" placeholder="Search Gmail" class="searchbar gmailsearch">
					<button type="button" class="btn btn-primary searchbutton btn-sm">sea</button>
				</div>	
				<div class="navigate col-sm-3">
					<button type="button" class="btn btn-default navbar-btn">+Josh</button>
					<button type="button" class="btn btn-default navbar-btn">Seticon</button>
					<button type="button" class="btn btn-default navbar-btn">Noticon</button>
					<button type="button" class="btn btn-default navbar-btn">addicon</button>
					<button type="button" class="btn btn-default navbar-btn">img</button>	
				</div>
			</nav>	
			</div>
			<div class="options row">
				<div class="leftoptions col-sm-4">
					<div class="gmailselect dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					   	GMAIL
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GMAIL</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contacts</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tasks</a></li>
					  </ul>
					</div>
				</div>
				<div class="blankcenter col-sm-4">
					<span class="defaultbuttons">
						<button type="button" class="btn btn-default navbar-btn">More</button>
						<button type="button" class="btn btn-default navbar-btn">Select</button>
						<button type="button" class="btn btn-default navbar-btn">Refresh</button>
					</span>
					<span class="selectedbuttons">
							<button type="button" class="btn btn-default navbar-btn">??</button>
							<button type="button" class="btn btn-default navbar-btn">Flag</button>
							<button type="button" class="btn js-delete btn-default navbar-btn">Delete</button>
					</span>
					
					<div class="msgnum">
						<b>1-50 of 1,450</b>&nbsp;
					</div> 
				</div>
				<div class="rightoptions col-sm-4">
					<button type="button" class="btn btn-default navbar-btn">Input</button>
					<button type="button" class="btn btn-default navbar-btn">Settings</button>
				</div>
			</div>
			<div class="main row">
				<div class="navigate col-sm-2">
					<button type="button" class="btn js-send btn-primary navbar-btn">Compose</button>
					<div class="boxes">
						<span class="boxoption">Inbox(44)</span><br>
						<span class="boxoption">Sent Mail</span><br>
						<span class="boxoption">Drafts(7)</span><br>
						<span class="boxoption">All Mail</span><br>
						<span class="boxoption">Spam</span><br>
					</div>
				</div>
				<div class="messages col-sm-10">
					<ul class="messagerows list-unstyled col-sm-12">
						<li class="msg row js-msg">
							<span class="msgselector col-sm-2"><input type="checkbox" name="selectmsg" class="js-msgselector"></span>
							<span class="sender col-sm-2">Ariel</span>
							<span class="message col-sm-6">message message message message message message&nbsp;<span class="time">9:04</span></span>

						</li>
						<li class="msg row js-msg">
							<span class="msgselector col-sm-2"><input type="checkbox" name="selectmsg" class="js-msgselector"></span>
							<span class="sender col-sm-2">Xavi</span>
							<span class="message col-sm-6">message message message message message message&nbsp; <span class="time">9:04</span></span>
							
						</li>
						<li class="msg row js-msg">
							<span class="msgselector col-sm-2"><input type="checkbox" name="selectmsg" class="js-msgselector"></span>
							<span class="sender col-sm-2">Xavi</span>
							<span class="message col-sm-6">message message message message message message&nbsp; <span class="time">9:04</span></span>
							<!-- <span class="time col-sm-2">9:04<br><br></span> -->
						</li>
						<li class="msg row js-msg">
							<span class="msgselector   col-sm-2"><input type="checkbox" name="selectmsg" class="js-msgselector"></span>
							<span class="sender col-sm-2">Josh</span>
							<span class="message col-sm-6">message message message message message message&nbsp; <span class="time">9:04</span></span>
							<!-- <span class="time col-sm-2">9:04<br><br></span> -->
						</li>
						<li class="msg row js-msg">
							<span class="msgselector col-sm-2"><input type="checkbox" name="selectmsg" class="js-msgselector"></span>
							<span class="sender col-sm-2">Bob</span>
							<span class="message col-sm-6">message message message message message message&nbsp; <span class="time">9:04</span></span>
							<!-- <span class="time col-sm-2">9:04<br><br></span> -->
						</li>
					</ul>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
		<script src="/main.js"></script>
	</body>
</html>


