<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<meta charset="utf-8">
		<title>GMAIL</title>
	</head>
	<body>
		<h1 class="">Send mail</h1>
		<textarea class"address row" rows="2" cols="40">
		</textarea>
		<textarea class="mail row" rows="10" cols="60">
			
		</textarea>


		<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
		<script src="main.js"></script>
	</body>


</html>